# Task :  
What is the Annualized  Return of the person who bids in the last month ?

What is the Annualized Return of the person who bids in the first month ?

Write an R/Python script which calculates the annualized return of chit fund participant ?

Show the Return % for each month's bid winner.

In [1]:
import pandas as pd

# Reading provided datafile

In [2]:
d = pd.DataFrame(pd.read_excel("ChitFundData.xlsx", skiprows=1))

In [3]:
d.head()

,Month,Contribution,Amount won by the bidder,Chit fund organizer commission,Net amount recd by Bid winner,Amount returned to everyone in the group
0,1,2000,40000,2500,37500,400
1,2,2000,42000,2500,39500,320
2,3,2000,45000,2500,42500,200
3,4,2000,48000,2500,45500,80
4,5,2000,40000,2500,37500,400

# Python Script

In [4]:
for i in d.Month:
    print("Month : \t\t",i)
    bid_ret = d['Net amount recd by Bid winner'][i-1]
    #print("won bid : \t\t",bid_ret)    

    month_ret = d['Amount returned to everyone in the group'][i-1]
    #print("amount return\t\t",month_ret)
    
    for a in d['Amount returned to everyone in the group']:
        bid_ret = bid_ret+a
    print("Total Return \t\t",bid_ret)    
    
    annual_ret = bid_ret*(12/25)
    print("Annual Return \t\t",annual_ret)
    
    ret_percnt = bid_ret*(100/50000)
    print("Return percent \t\t",ret_percnt)
    
    print("")

Month : 		 1
Total Return 		 43700
Annual Return 		 20976.0
Return percent 		 87.4

Month : 		 2
Total Return 		 45700
Annual Return 		 21936.0
Return percent 		 91.4

Month : 		 3
Total Return 		 48700
Annual Return 		 23376.0
Return percent 		 97.4

Month : 		 4
Total Return 		 51700
Annual Return 		 24816.0
Return percent 		 103.4

Month : 		 5
Total Return 		 43700
Annual Return 		 20976.0
Return percent 		 87.4

Month : 		 6
Total Return 		 45700
Annual Return 		 21936.0
Return percent 		 91.4

Month : 		 7
Total Return 		 46700
Annual Return 		 22416.0
Return percent 		 93.4

Month : 		 8
Total Return 		 47700
Annual Return 		 22896.0
Return percent 		 95.4

Month : 		 9
Total Return 		 43700
Annual Return 		 20976.0
Return percent 		 87.4

Month : 		 10
Total Return 		 45700
Annual Return 		 21936.0
Return percent 		 91.4

Month : 		 11
Total Return 		 48700
Annual Return 		 23376.0
Return percent 		 97.4

Month : 		 12
Total Return 		 51700
Annual Return 		 24816.0
Return percent 		 103.4

Month : 		 13
Total Return 		 43700
Annual Return 		 20976.0
Return percent 		 87.4

Month : 		 14
Total Return 		 45700
Annual Return 		 21936.0
Return percent 		 91.4

Month : 		 15
Total Return 		 46700
Annual Return 		 22416.0
Return percent 		 93.4

Month : 		 16
Total Return 		 46700
Annual Return 		 22416.0
Return percent 		 93.4

Month : 		 17
Total Return 		 44700
Annual Return 		 21456.0
Return percent 		 89.4

Month : 		 18
Total Return 		 45700
Annual Return 		 21936.0
Return percent 		 91.4

Month : 		 19
Total Return 		 48700
Annual Return 		 23376.0
Return percent 		 97.4

Month : 		 20
Total Return 		 48700
Annual Return 		 23376.0
Return percent 		 97.4

Month : 		 21
Total Return 		 47700
Annual Return 		 22896.0
Return percent 		 95.4

Month : 		 22
Total Return 		 49700
Annual Return 		 23856.0
Return percent 		 99.4

Month : 		 23
Total Return 		 50700
Annual Return 		 24336.0
Return percent 		 101.4

Month : 		 24
Total Return 		 51700
Annual Return 		 24816.0
Return percent 		 103.4

Month : 		 25
Total Return 		 53700
Annual Return 		 25776.0
Return percent 		 107.4

# Answers

Annualized  Return of the person who bids in the last month: 25776.0

Annualized Return of the person who bids in the first month: 20976.0